/* header */
body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
  margin: 0px;
  background-color: #F7F0EA;
  padding: 10px;
    box-shadow: 0 5px 15px -2px lightgray	;

}

header h1 {
  font-size: 20px;
  text-align: center;
}
/* Search bar */
.search-container form {
  display: flex;
  justify-content: center;
  margin: 50px 0px 0px 0px;
}

.search-container form input {
  width: 70vw;
  height: 35px;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  border: 3px solid #D8A7B1;
  transition: all 0.1s ease;
}

.search-container form input:focus {
  border: 3px solid #6B7A8F;
  outline: none;
  transition: all 0.1s ease;

}

/* prayers */
.search-container .prayers-container {
  margin-top: 30px;
  margin-bottom: 100px;
}



.search-container .prayers-container .prayer-card {
  
  width: 85%;
  margin: 0 auto;
  background-color: #F7F0EA;
  padding: 15px;
  border-radius: 30px;
  margin-bottom: 20px;
}
#title {
  text-decoration: underline;
  font-size: 20px;
  
}
#title, #categories {
  text-align: center;
}

#categories {
  background-color: #D8A7B1;
  margin: 0 auto;
  padding: 10px;
  border-radius: 50px;

}

#book, #page {
  font-weight: 600;
}

@media (min-width: 900px) {
  .search-container .prayers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .search-container .prayers-container .prayer-card {
    width: 45%;
  
  }
}